.headerMenu {
  display: flex;
  position: relative;
  padding-left: 70px;
  height: 100%;

  &Item {
    position: relative;
    height: 100%;

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      color: #fff;
      text-decoration: none;
      height: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
