@import "variables";

.postsPage {
  font-size: 1.7rem;

  h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: $colorWhite;
  }

  &Bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 49, 60, 0.85);
    z-index: -1;
  }
}
