.postsPagination {
  &Container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &Page {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0000001c;
      margin: 5px;
      padding: 5px;
      min-width: 25px;
      color: #fff;
      cursor: pointer;

      &Active {
        background: rgba(0, 0, 0, 0.45);
      }
    }
  }
}
