.posts {
  &Container {
    position: relative;
    margin-top: 50px;

    &Post {
      position: relative;
      font-size: 12px;
      padding: 12px;
      box-shadow: #00000040 0 0 3px;
      margin-bottom: 25px;
      background: #0000001c;

      &Title {
        display: inline-block;
        color: #e3e3e3;
      }

      &Value {
        display: inline-block;
        color: #fff;
        margin-left: 10px;
        a {
          color: inherit;
        }
      }

      &Message {
        display: block;
        color: #fff;
        margin: 10px 0 0 10px;
      }
    }
  }
}
