.user {
  &Container {
    position: relative;
    margin-top: 50px;
    color: #fff;

    &Title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &Item {
      display: flex;
      margin-top: 40px;
      justify-content: left;
      align-items: center;
    }

    &Field {
      color: #e3e3e3;
      white-space: nowrap;
      margin-right: 30px;
    }

    &Value {
      display: inline-block;
      color: #fff;
      margin-left: 10px;
    }
  }
}
